<!-- Customers section -->
<section class="container section__customers" id="service">
    <h2 class="customers__title" >What our Customers Say</h2>
    <p class="customers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="customers__list">

        <li class="list customers__card">
            <div class="customers__container">
            <svg class="customers__container__icon--stars" width="101px" height="16px">
                <use href="./images/sprite.svg#stars"></use>
            </svg>
            <p class="customers__container--text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>

            <div class="customers__container--hedline">
            <img class="customers__container__icon--user" src="./images/cliant/ellipse9.png" alt="foto user">
            <div>
            <h3 class="customers__container--title">Sumith Shah</h3>
                <p>Some Dude</p>
            </div>
                </div>
            </div>
        </li>

        <li class="list customers__card">
            <div class="customers__container">
                <svg class="customers__container__icon--stars" width="101px" height="16px">
                    <use href="./images/sprite.svg#stars"></use>
                </svg>
            <p class="customers__container--text">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>

            <div class="customers__container--hedline">
            <img class="customers__container__icon--user" src="./images/cliant/ellipse10.png" alt="foto user">
            <div>
            <h3 class="customers__container--title">Sumith Shah</h3>
            <p>Some Dude</p>
            </div>
            </div>
            </div>
        </li>
    </ul>
</section>