<!-- Footer section -->
<footer class="footer container" id="contact">
  <div class="footer__section section">
    <div class="footer__body">
      <div class="footer__page">
        <a href="./index.html" class="footer__logo">
          <img
            src="./images/logo/logo.png"
            alt="logo FoodSta"
            class="logo-icon"
            width="72"
            height="52"
          />
        </a>
        <nav class="nav">
          <ul class="nav__list list">
            <li class="nav__item">
              <a href="#home" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="#service" class="nav__link">Service</a>
            </li>
            <li class="nav__item">
              <a href="#menu" class="nav__link">Menu</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__subscribe">
        <h3 class="footer-form__title">Subscribe</h3>
        <form class="footer__form">
          <label class="footer__mail">
            <input
              type="email"
              class="footer__input"
              name="address"
              placeholder="Enter your email"
              required
            />
            <svg class="footer__icon" width="12" height="12">
              <use
                class="footer__warning"
                href="./images/sprite.svg#icon-alert-subscribe"
              ></use>
            </svg>
            <span class="footer__notfication"
              >Not a valid email address (example@email.com)</span
            >
          </label>
          <button type="submit" class="footer__btn">Subscribe</button>
          <span class="agreement">
            By subscribing you agree to with our
            <a class="agreement__link" href="">Privacy Policy</a>
          </span>
        </form>
      </div>
    </div>
    <div class="footer-aside">
      <div class="footer-aside__wrap">
        <ul class="footer-aside__list list">
          <li class="footer-aside__item">
            <a href="" class="footer-aside__link">Privacy Policy</a>
          </li>
          <li class="footer-aside__item">
            <a href="" class="footer-aside__link">Terms of Service</a>
          </li>
          <li class="footer-aside__item">
            <a href="" class="footer-aside__link">Cookies Settings</a>
          </li>
        </ul>
      </div>
      <div class="footer-aside__wrap--rights">
        <p class="footer-aside__text">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
