<!--  Offerings section -->
<div class="offerings container" id="about">
  <div class="picture">
    <div class="picture__border">
      <div class="picture__background">
        <img
          class="picture__image"
          srcset="
            ./images/about/aple-202.png 202w,
            ./images/about/aple-257.png 257w,
            ./images/about/aple-396.png 396w,
            ./images/about/aple-404.png 404w,
            ./images/about/aple-514.png 514w,
            ./images/about/aple-792.png 792w
          "
          sizes="(min-width: 1280px) 396px, (min-width: 768px) 257px, 100vw"
          src="./images/about/aple-202.png"
          alt="Green apple"
          width="396"
        />
      </div>
    </div>
  </div>
  <div class="content">
    <h2 class="content__main-title">
      What's Special About Our Offerings
    </h2>
    <p class="content__main-subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="content__list list">
      <li class="content__item--left">
        <h3 class="content__title">Fasest Delivery</h3>
        <p class="content__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="content__item--right">
        <h3 class="content__title">Easy To Order</h3>
        <p class="content__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <button class="content__btn" type="button" data-modal-open>
      Order Now
    </button>
    <button class="content__btn--right" type="button">
      Read More
      <img src="./images/icon_about/right.svg" alt="right arrow" width="13" />
    </button>
  </div>
</div>
